<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="socketReceive">
      <p class="socketMessage">Your message will be displayed here...</p>
    </div>

    <input type="text" id="message">
    <button id="sendMessage" onclick="sendMessage()">Send</button>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('/');
      var messageWrapper = document.getElementById('socketReceive');
      var node;
      var childNode;

      function sendMessage() {
        var messageValue = document.getElementById('message').value;
        node = document.createElement('p');
        childNode = document.createTextNode('You:' + messageValue);

        socket.emit('message', messageValue);
        node.appendChild(childNode);
        messageWrapper.appendChild(node);
      }

      socket.on('connect', function() {
        console.log('Connected to server');
      });

      socket.on('disconnect', function() {
        console.log('Disconnected from server');
      });

      socket.on('response', function(message) {
        node = document.createElement('p');
        childNode = document.createTextNode('Server: ' + message);

        node.appendChild(childNode);
        messageWrapper.appendChild(node);
      });
    </script>
  </body>
</html>
